/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  background-color: #1f2937;
  font-family: Roboto;
}

.colwrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 120px;
  margin: 0 auto;
  width: 1050px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  /* align-items: right; */
}
.logo p {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}
.links {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}
.links a {
  text-decoration: none;
  padding-left: 10px;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: normal;
}

.hero {
  display: flex;
  /* justify-content: space-between; */
  /* width: 530px; */
  /* height: 240px; */
  /* max-height: 240px; */
  /* max-height: 240px; */

  /* height: 240px; */
  gap: 60px;
  /* align-items: right; */
  /* justify-content: center; */
  /* align-items: center; */

  /* height: 240px; */
}

.hero_text {
  /* width: 530px; */
  display: flex;
  flex-direction: column;
  /* height: 240px; */
  /* max-height: 240px; */
  /* max-height: 240px; */
  /* gap: 5px; */
}
.hero_title {
  /* flex: 1; */
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  line-height: 57px;
  /* line-height: 99%; */
  /* margin: 0; */
}
.hero_content {
  /* flex: 1; */
  color: #e5e7eb;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 12px;
}
.hero_img {
  height: 240px;
  /* width: 530px; */
  /* flex-basis: 530px; */
  /* flex-shrink: 0; */
  flex: 0 0 530px;
  background-color: #6d747d;
  text-align: center;
  line-height: 240px;
  color: #ffffff;
  /* border-radius: 7px; */
}

/* 526x236 */
.signup_button {
  /* flex: 1; */
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  /* display: inline-block; */
  /* text-decoration: none; */
  padding: 7px 32px;
  /* border: 15px; */
}
.button_class {
  flex: 1;
}
